<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>STYLE GUIDE</h2>
    <h3>Colors</h3>
    <ul>
        <li>
            <span></span>
            <p>Brand Primary</p>
        </li>
        <li>
            <span></span>
            <p>Brand Secondary</p>
        </li>
        <li>
            <span></span>
            <p>Brand Tertiary</p>
        </li>
    </ul>
    <section>
        <h3>Typography</h3>
        <aside>
            <dl>
                <dt>Paragraph</dt>
                <dd>Helvetica</dd>
                <dt>Paragraph Text</dt>
                <dd>Base Font Size: 14px</dd>
            </dl>
        </aside>
        <aside>
            <dl>
                <dt>45px</dt>
                <dd>
                    <h2>Heading 2</h2>
                </dd>
                <dt>36px</dt>
                <dd>
                    <h3>Heading 3</h3>
                </dd>
                <dt>30px</dt>
                <dd>
                    <h4>Heading 4</h4>
                </dd>
            </dl>
        </aside>
    </section>
    <section>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>
</body>
</html>