{% extends 'generic/base.html' %}
{% load thumbnail %}

{% block content %}
{% if user.is_authenticated %}
  <ul>
    <h1>{{ user.username }}'s Albums</h1>
    {% for album in albums %}
      <a href="{% url 'album_detail' id=album.id %}">
      {% thumbnail album.cover.image "100x100" crop="center" as im %}
      <img title="{{album.title}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
      </a>
    {% endfor %}

    {% for page_num in albums.paginator.page_range %}
        <li><a href="?photo_page={{ photos.number }}&album_page={{ page_num }}">Page {{ page_num }}</a></li>
    {% endfor %}

    <h1>{{ user.username }}'s Photos</h1>

    {% for photo in photos %}
      {% thumbnail photo.image "100x100" crop="center" as im %}
        <a href="{% url "photo_detail" id=photo.id %}"><img title="{{photo.title}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
      {% endthumbnail %}       
    {% endfor %}

  </ul>

{% else %}
  <h1>Please login to view library!</h1>
{% endif %}

{% endblock content %}
