{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
<section class="photo-container container">
  <a class="link-style" href="{% url "add_photo" %}">Add Photo</a>
  <h2 class="box-text">Public Photos</h2>
  {% for photo in photos %}
  <a href="{% url 'photo_detail' id=photo.id %}">
    {% thumbnail photo.image "75x75" crop="center" as im %}
  <img src="{{ im.url }}" alt="{{ im.url }}" title="{{ photo.id }}" />
    {% endthumbnail %}   
    </a>
  {% endfor %}
</section>
{% endblock content %}
