
body {
    background: lightcyan;
}

header {
   background: lightsalmon;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   width: 100%;
}

h3 {
    text-align: center;
    margin-bottom: 0px;
    border: solid darkblue;
    border-radius: 10px;
    border-width: 5px 20px 5px 20px;
}

main {
    width: 1200px;
}

