.box-text {
    border-style: solid;
    display: table;
    padding: 2vh;
    border-width: medium;
    background-color: moccasin;
    border-bottom-left-radius: 2vh;
    border-top-right-radius: 2vh;
}

.link-style {
text-decoration: blink;
}

.table-style table {
    width: 60vh;
}

// .table-style 