{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<section class="profile-container container">
  <h2>You're viewing the profile for {{ profile.user.username }}</h2>
  <p>{% trans "Last Login" %}: {{ profile.user.last_login }}</p>
  <p>{% trans "Member Since" %}: {{ profile.user.date_joined }}</p>

  <section class="profile-info">
    <h2>Profile Information</h2>
    <table>
        <tr>
            <td>Bio</td>
            <td>{{ profile.bio}}</td>
        </tr>

        <tr>
            <td>Phone</td>
            <td>{{ profile.phone}}</td>
        </tr>

        <tr>
            <td>Location</td>
            <td>{{ profile.location}}</td>
        </tr>

        <tr>
            <td>Website</td>
            <td>{{ profile.website}}</td>
        </tr>

        <tr>
            <td>Fee</td>
            <td>{{ profile.fee}}</td>
        </tr>

        <tr>
            <td>Camera</td>
            <td>{{ profile.camera}}</td>
        </tr>

        <tr>
            <td>Services</td>
            <td>{{ profile.services}}</td>
        </tr>

        <tr>
            <td>Photostyles</td>
            <td>{{ profile.photostyles}}</td>
        </tr>

    {% if photos_private == 'None' %}
        <tr>
            <td>Number of Public Photos</td>
            <td>{{ photos_public.count }}</td>
        </tr>

        <tr>
            <td>Number of Public Albums</td>
            <td>{{ albums_public.count }}</td>
        </tr>
    {% else %}
        <tr>
            <td>Number of Public Photos</td>
            <td>{{ photos_public.count }}</td>
        </tr>
              
        <tr>
            <td>Number of Private Photos</td>
            <td>{{ photos_private.count }}</td>
        </tr>
        
        <tr>
            <td>Number of Public Albums</td>
            <td>{{ albums_private.count }}</td>
        </tr>

        <tr>
            <td>Number of Private Albums</td>
            <td>{{ albums_private.count }}</td>
        </tr>
    {% endif %}
    </table>

  </section>

  <!-- Handle the Product and Photo context that was passed from the view -->

</section>
{% else %}
<h1>{% trans "Please log into the site" %}</h1>
{% endif %}
{% endblock content %}